 p{
        font-family: Arial;
        color:rgb(46, 43, 43);
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .tittle{

        font-size: 20px;
        color: black;
        font-weight: bold;
        width:350px;
        margin-bottom: 10px;
    }

    .author{
        font-size: 14px;
        margin-bottom: 20px;
    }

    .body{

        font-size: 16px;
        width: 300px;
        line-height: 22px;
        margin-bottom: 50px;
    }

    .link{

        text-decoration: underline;
        color: red;
    }

    .buy-callout{

        background-color: red;
        color : white;
        font-size: 14px;
        padding-top: 18px;
        padding-bottom: 18px;
        text-align: center;
        cursor: pointer;
    }

    .shop-now:hover{

        text-decoration: underline;


    }